<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title><%= track.name %></title>
		<script>
		<%


		function calcTopX(races, x){
			let total = 0;
			(races).map(r => r.result).flat().forEach((res, i) => {
				if(res.position <= x){
					total += 1;
				}
			});
			return total;
		}

		function addFormat(pos){
			if(pos === 0){
				return "";
			}
			if(pos === 1){
				return "<span class='first'>1</span>"
			}
			else if(pos < 4){
				return `<span class='podium'>${pos}</span>`
			}
			else if(pos > 4){
				return `<span class='bad'>${pos}</span>`
			}
			else if(pos > 9){
				return `<span class='awful'>${pos}</span>`
			}
			return `${pos}`;
		}
		%>
		</script>
		<style>
			*{
				font-family: sans-serif;
			}
			h3{
				display: inline-block;
				margin: 0;
			}
			h2, h5{
				display: inline-block;
				width: 6.5rem;
			}
			h5{
				font-weight: normal;
				font-size: 14pt;
			}
			body > a {
				padding: 0.5rem;
				border: 1px solid black;
				margin: 1rem;
				margin-top: 2rem;
				display: block;
				width: 8rem;
				text-align: center;
				font-weight: bolder;
				font-size: 14pt;
			}
			table, tr, thead, th{
				padding: 1rem;
				font-weight: normal;
			}
			th{
				border: 1px solid black;
			}
			.first{
				font-weight: bolder;
				color: gold;
			}
			.podium{
				font-weight: bold;
			}
			.bad{
				color: red;
			}
			.awful{
				color: darkred;
				text-decoration: line-through;
			}
			.green{
				color: green;
			}
			.red{
				color: red;
			}
		</style>
	</head>
	<body>
		<h1><%= track.name %></h1>
		<div>
			<h3>Elo Multipler:</h3> <%= Math.round(track.elo[track.elo.length - 1])%>%
		</div>
		<div>
			<h3>Total Races:</h3> <%= races.length %>
		</div>
		<div>
			<h3>Average Position:</h3> <%= Math.round(races.map(r => r.result).flat().map(r => r.position + 1).reduce((a, b) => a + b, 0) / races.map(r => r.result).flat().length * 10) / 10 %>
		</div>
		<div>
			<h3>Top Fours:</h3> <%= calcTopX(races, 3) %> (<%= Math.round(calcTopX(races, 3) / (races.map(r => r.result).flat()).length * 100) %>%)
		</div>
		<br />
		<table>
			<thead><tr>
				<th>Date</th>
				<th>Brennan</th>
				<th>Brandon</th>
				<th>Cassidy</th>
				<th>Darren</th>
				<th>Dillan</th>
				<th>Marly</th>
				<th>Santi</th>
				<th>Sean</th>
				<th>Multipler</th>
			</tr></thead>
			<tbody>
				<% races.forEach((r, i) => { %>
					<tr>
						<th><%= new Date(r.date).toLocaleString().split(',')[0] %></th>
						<th><%- addFormat((r.result.filter(p => p.name === "Brennan")[0]?.position ?? -1) + 1) %></th>
						<th><%- addFormat((r.result.filter(p => p.name === "Brandon")[0]?.position ?? -1) + 1) %></th>
						<th><%- addFormat((r.result.filter(p => p.name === "Cassidy")[0]?.position ?? -1) + 1) %></th>
						<th><%- addFormat((r.result.filter(p => p.name === "Darren")[0]?.position ?? -1) + 1) %></th>
						<th><%- addFormat((r.result.filter(p => p.name === "Dillan")[0]?.position ?? -1) + 1) %></th>
						<th><%- addFormat((r.result.filter(p => p.name === "Marly")[0]?.position ?? -1) + 1) %></th>
						<th><%- addFormat((r.result.filter(p => p.name === "Santi")[0]?.position ?? -1) + 1) %></th>
						<th><%- addFormat((r.result.filter(p => p.name === "Sean")[0]?.position ?? -1) + 1) %></th>
						<th><%- Math.round(track.elo[i + 1]) %>%</th>
					</tr>
				<% }) %>

			</tbody>
		</table>
	</body>
</html>
